body {
  background-color: #151515;
  font-family: verdana;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
.header {
  display: flex;
  align-items: center;
}
.name {
  color: #fff;
  font-size: 36px;
  opacity: 90%;
}
.artist {
  color: #fff;
  font-size: 24px;
  opacity: 70%;
}
.btn-next {
  margin-left: auto;
  margin-right: 0;
  width: 48px;
  height: 48px;
}
.icon_sm {
  opacity: 0.85;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.btn-next i {
  padding: 10px;
  display: flex;
  border-radius: 50px;
  background-color: #262626;
  color: #fff;
}
.icon_lg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 122px;
  cursor: pointer;
}
